.banner {
    background: url("https://www.linkpicture.com/q/2022_08_12_13_51_IMG_4397.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.tim img{
    width: 250px;
    border: 10px solid #CCCCCC;
}

.kontak {
    background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}